body{
   background: var(--dark);

   display: grid;
   place-content: center;
}

.loginContainer div{
   margin: 1rem 0 2rem;
}
.loginContainer{
   background: var(--grey2);
   width: clamp(300px , 60vw , 500px);
   margin: auto;
   border-radius: 2rem;
   padding: 2rem 3rem;
   color: var(--light1);
}

.loginContainer div input{
   display: block;
   margin-bottom: 1rem;
}

.loginContainer div input{
   /* all: unset; */
   background: var(--grey3);
   color: var(--light1);
   padding: 0.5rem 1rem;
   width: 100%;
   margin-top: 0.5rem;
   border-radius: 1rem;
   border: 1px solid var(--grey3);

}

.loginContainer button{
   background: var(--blue);
   color: var(--light1);
   width: 100%;
   text-align: center;
   border-radius: 1rem;
   padding: .5rem 1rem;
   box-sizing: border-box;
   border: 2px solid var(--blue);
   transition: .3s ease;
}

.loginContainer button:hover{
   color: var(--blue);
   background: none;
   color: var(--blue);
}

.loginContainer p{
   margin-top: 2rem;

}

.loginContainer p a{
   color: var(--blue);
   text-decoration: underline;
}
